* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212; 
    color: #e0e0e0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 2px solid #ff2a2a;
}
header p {
    color: #ff2a2a;
}

nav {
    background-color: #1a1a1a;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #333333;
}

nav a {
    color: #ff2a2a;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 30px 20px;
}

section {
    background-color: #1e1e1e;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #333333;
}

h1, h2, h3 {
    color: #ff2a2a;
}

h2 {
    border-bottom: 2px solid #ff2a2a;
    padding-bottom: 5px;
}

.destaque {
    display: flex;
    gap: 30px;
    align-items: center;
}

#artefato img {
    width: 40%;
    border-radius: 10px;
}

.codigo {
    color: #777;
    font-size: 14px;
}

.etiqueta {
    display: inline-block;
    background-color: #ff2a2a;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.hipoteses {
    display: flex;
    gap: 15px;
}

.hipoteses article {
    flex: 1;
    background-color: #2a2a2a;
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #444444;
}

aside {
    background-color: #000000;
    color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #333333;
}

blockquote {
    border-left: 4px solid #ff2a2a;
    background-color: #2a2a2a;
    margin-left: 0;
    padding: 20px;
    font-style: italic;
    color: #ffffff;
    border-radius: 0 8px 8px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #ff2a2a;
    color: white;
    text-align: center;
}

.alerta {
    background-color: #2b0000;
    border-left: 6px solid #ff2a2a;
}

footer {
    background-color: #000000;
    color: #888888;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    border-top: 2px solid #ff2a2a;
}

@media (max-width: 700px) {
    .destaque, .hipoteses {
        flex-direction: column;
    }

    .destaque img {
        width: 100px;
    }

    nav a {
        display: block;
    }

    table {
        font-size: 13px;
    }
}